webroot/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxx-x"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-xxxxxxxx-x');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- META-->
    <title>サイト名</title>
    <meta name="description" content="descriptionを記入してください"/>
    <meta name="keywords" content="keywordを記入して下さい"/>
    <meta name="twitter:site" content="https://test.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="descriptionを記入してください"/>
    <meta name="twitter:image:src" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:title" content="サイト名"/>
    <meta property="og:site_name" content="サイト名"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:image" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:description" content="descriptionを記入してください"/>
    <link rel="shortcut icon" href="/assets/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicon.png"/>
    <!-- CSS-->
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/top.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header class="header">
        <div id="navArea">
          <nav>
            <div class="inner">
              <ul>
                <li><a href="#about"> <span>About us</span><br>TECDIAとは</a></li>
                <li><a href="#number"> <span>Tecdia in numbers</span><br>数字で見るテクダイヤ</a></li>
                <li><a href="#welfare"> <span>Employee system and benefits</span><br>社員制度や福利厚生</a></li>
                <li><a href="#member"> <span>Employee introduction</span><br>社員紹介</a></li>
                <li><a href="#message"> <span>Message from the President</span><br>社員メッセージ</a></li>
                <li><a href="#flow"> <span>Application requirements / selection flow</span><br>募集要項・選考フロー</a></li>
                <li><a href="#entry"> <span>Entry</span><br>エントリー</a></li>
              </ul>
            </div>
          </nav>
          <div class="toggle_btn"><span></span><span></span><span></span></div>
          <div id="mask"></div>
        </div>
      </header>
      <div class="content">
        <div class="section__top">
          <div class="section__top__logo"> <a href="#"> <img src="/assets/img/top_logo.png" alt="TECDIA"></a></div>
          <div class="section__top__logo"> </div>
        </div>
        <div class="section__news"> 
          <div class="section__news__inner"> 
            <div class="section__news__tit"> 
              <h2>News</h2>
              <hr>
              <p>お知らせ</p>
            </div>
            <ul class="section__news__headline">
              <li>
                <p>2022.04.12</p>
                <div class="section__news__headline__tag section__news__headline__tag__gr">
                  <p>採用情報</p>
                </div>
                <h3>採用情報を新たに更新いたしました。</h3>
              </li>
              <li>
                <p>2022.04.12</p>
                <div class="section__news__headline__tag section__news__headline__tag__or">
                  <p>社員紹介</p>
                </div>
                <h3>写真紹介を更新いたしました。</h3>
              </li>
              <li>
                <p>2022.04.12</p>
                <div class="section__news__headline__tag section__news__headline__tag__pu">
                  <p>お知らせ</p>
                </div>
                <h3>リクルートサイトを公開いたしました。</h3>
              </li>
            </ul>
          </div>
        </div>
        <div class="section__about"> 
          <div class="section__side" id="about">
            <hr>
            <div></div>
            <p>About us</p>
          </div>
          <div class="section__about__inner"> 
            <div class="section__about__lead"> 
              <div class="section__about__lead__left"><img src="/assets/img/section__about__img.png" alt="TECDIAとは"></div>
              <div class="section__about__lead__right"> 
                <h2> <span>TECDIA</span>とは</h2>
                <p>社名のダイヤは、紛れもなく世界で一番硬い鉱物であるダイヤモンドが由来です。<br>テクダイヤは創業当初、ダイヤモンドを取り扱う商社でした。創業から現在まで<br>様々な事業変態を繰り返し、現在はメーカーとして世の中に貢献しています。<br>テクダイヤは砂粒のように数多く存在する中の一企業かもしれない。<br>しかし我々はその砂の中でも埋もれることなく、小さくてもキラリと光るダイヤの<br>ような存在感を保ち続けていたい。そんな想いで、 <span>“真に価値のあるもの”</span>を<br>創造し続けていきます。 </p>
                <div class="section__about__lead__btn"><a href=""> 会社概要</a></div>
              </div>
            </div>
            <div class="section__about__slider">
              <div class="section__about__slider__tit"><img src="/assets/img/section__about__tit.png"></div>
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slider__inner"> 
                      <div class="slider__inner__tit">
                        <p>セラミック応用技術</p>
                      </div>
                      <div class="slider__inner__content"> <img src="/assets/img/top__slider__img01.png" alt="セラミック応用技術">
                        <p>陶器や食器、差し歯にも使用されているセラミック。テクダイヤは、このセラミックを調合・焼成し、金属で成膜した単層コンデンサを製造・販売しています。一般的な電気製品で多用されている積層コンデンサとは異なり、5G通信にも対応した特殊な製品です。このコンデンサは光通信の送受信デバイスなどに用いられ、ニッチマーケットでシェアナンバー1を獲得しています。</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider__inner"> 
                      <div class="slider__inner__tit">
                        <p>ダミー02</p>
                      </div>
                      <div class="slider__inner__content"> <img src="/assets/img/top__slider__img01.png" alt="セラミック応用技術">
                        <p>陶器や食器、差し歯にも使用されているセラミック。テクダイヤは、このセラミックを調合・焼成し、金属で成膜した単層コンデンサを製造・販売しています。一般的な電気製品で多用されている積層コンデンサとは異なり、5G通信にも対応した特殊な製品です。このコンデンサは光通信の送受信デバイスなどに用いられ、ニッチマーケットでシェアナンバー1を獲得しています。</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider__inner"> 
                      <div class="slider__inner__tit">
                        <p>ダミー03</p>
                      </div>
                      <div class="slider__inner__content"> <img src="/assets/img/top__slider__img01.png" alt="セラミック応用技術">
                        <p>陶器や食器、差し歯にも使用されているセラミック。テクダイヤは、このセラミックを調合・焼成し、金属で成膜した単層コンデンサを製造・販売しています。一般的な電気製品で多用されている積層コンデンサとは異なり、5G通信にも対応した特殊な製品です。このコンデンサは光通信の送受信デバイスなどに用いられ、ニッチマーケットでシェアナンバー1を獲得しています。</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section__number"> 
          <div class="section__side" id="number">
            <hr>
            <div></div>
            <p>Tecdia in numbers</p>
          </div>
          <div class="section__number__tit"> <img src="/assets/img/section__number__tit.png">
            <p>さまざまな取り組みや実績にまつわる数値からテクダイヤの魅力を解明</p>
          </div>
          <div class="section__number__inner">
            <ul> 
              <li>
                <div class="back-img">
                  <h4>創立年数</h4>
                  <p class="build-year"><span class="num count">1976</span><span>年</span></p><img src="/assets/img/build-year.png">
                </div>
              </li>
              <li> 
                <div class="ratio">
                  <h4>男女比</h4><img src="/assets/img/ratio.png">
                  <p> <span class="count">6</span>:<span class="count">4</span></p>
                </div>
              </li>
              <li> 
                <div class="length">
                  <h4>平均勤続年数</h4>
                  <p><span class="count">10</span>年以上</p><img src="/assets/img/length.png">
                </div>
              </li>
              <li class="big">
                <div class="old">
                  <h4>平均年齢</h4>
                  <div class="old__inner">
                    <div class="old__graph">
                      <canvas id="chart01"></canvas>
                    </div>
                    <p>平均<span class="count old-num">38</span><span class="old-txt">歳</span></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="time">
                  <h4>月次平均残業時間</h4>
                  <p><span class="count">6.4</span>時間</p><img src="/assets/img/time.png">
                </div>
              </li>
              <li> 
                <h4>在籍社員国籍</h4><img class="country" src="/assets/img/country.png">
              </li>
              <li> 
                <h4>海外出張経験者割合</h4>
                <div class="trip">
                  <canvas id="chart02"></canvas>
                </div>
              </li>
              <li> 
                <h4>海外出張先</h4><img class="trip_country" src="/assets/img/trip_country.png">
              </li>
            </ul>
          </div>
        </div>
        <div class="section__welfare">
          <div class="section__side" id="welfare">
            <hr>
            <div></div>
            <p>Employee system and benefits</p>
          </div>
          <div class="section__welfare__tit"> <img src="/assets/img/section__welfare__tit.png"></div>
          <div class="section__welfare__inner">
            <div class="section__welfare__content">
              <div class="section__welfare__content__subtit">
                <div class="section__welfare__content__subtit__inner">
                  <h3 class="section__welfare__content__subtit__inner__lead01">新しい働き方</h3>
                </div>
              </div>
              <div class="section__welfare__content__txt"> 
                <div class="section__welfare__content__txt__lead"> 
                  <p>働く場所の選択肢を広げる取り組みを推進。時間効率の最大化をおこない、<br>社員が安心して力を発揮できる職場づくりを実現します。</p>
                </div>
                <h4>サテライトオフィス勤務（フリーアドレス）</h4>
                <hr>
                <p>所属部門が入居していないオフィスへの出社も許可し、時間の有効活用を実現。 </p>
                <h4>モバイルワーク</h4>
                <hr>
                <p>所属部門が入居していないオフィスへの出社も許可し、時間の有効活用を実現。 </p>
                <h4>在宅勤務</h4>
                <hr>
                <p>仕事と家庭の両立、通勤時間の削減。  </p>
              </div>
            </div>
            <div class="section__welfare__content mt-120">
              <div class="section__welfare__content__subtit">
                <div class="section__welfare__content__subtit__inner">
                  <h3 class="section__welfare__content__subtit__inner__lead02">仕事と育児・介護の両立</h3>
                </div>
              </div>
              <div class="section__welfare__content__txt"> 
                <div class="section__welfare__content__txt__lead"> 
                  <p>「子育て世代」や「介護世代」が安心して働ける職場や仕組みづくりを推進。<br>社員の健康維持・増進に努め、生産性と創造性を向上させて、<br>すべての社員と家族が幸せを実感でき、安心していきいきと働ける会社を目指します。</p>
                </div>
                <h4>育児</h4>
                <hr>
                <p class="section__welfare__content__txt__flow-left">・育児時短勤務<br>　子どもが小学校へ入学するまで、1日2時間まで勤務時間を短縮できます。<br>・育児休業<br>　子どもが満1歳を迎える誕生日の前日まで休暇を取得できます。（最大2年まで延長可能）<br>・子どもの看護休暇<br>　小学校入学までの子どもが負傷や疾病にかかった場合、子どもが1人の場合は<br>　1年間につき5日、2人以上の場合は1年間につき10日まで看護休暇を取得する<br>　ことができます。<br>・長期障害所得補償<br>　病気やケガで長期間仕事が出来なくなった場合に、最長で60歳まで収入を保証する制度。<br>　社員がより安心して働ける職場環境の実現に向けた支援制度です。</p>
                <h4>介護</h4>
                <hr>
                <p class="section__welfare__content__txt__flow-left">・介護時短勤務<br>　介護が継続する間、1日2時間まで勤務時間を短縮できます。<br>　介護休業<br>　要介護状態にある家族の介護、その他の世話をする社員は、通算93日間、<br>　3回まで介護休業の分割取得ができる制度です。<br>・介護休暇<br>　要介護状態にある家族の介護、その他の世話をする社員は、当該家族が1人の場合は1年間につき5日、<br>　2人以上の場合は1年間につき10日まで介護休暇を取得することができます。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section__member"> 
          <div class="section__side" id="member">
            <hr>
            <div></div>
            <p>Employee introduction</p>
          </div>
          <div class="section__member__tit"> <img src="/assets/img/section__member__tit.png"></div>
          <div class="section__member__inner">
            <div class="section__member__inner__flex"> <img src="/assets/img/section__member__img01.png" alt="">
              <div class="section__member__inner__txt-right">
                <p class="name">岩井元</p>
                <p class="name-eng">GEN IWAI</p>
                <div class="section__member__inner__role"> 
                  <p>2020年入社</p>
                  <p>企画部 ITインフラ<br>FA推進チーム</p>
                </div>
                <p class="movie-txt">「インタビュー動画はコチラ」</p><iframe width="450" height="256" src="https://www.youtube.com/embed/1eBg6AYIif8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="section__member__inner">
            <div class="section__member__inner__flex"> 
              <div class="section__member__inner__txt-left">
                <p class="name">戸部 綾菜</p>
                <p class="name-eng">AYANA TOBE</p>
                <div class="section__member__inner__role"> 
                  <p>2015年入社</p>
                  <p>技術開発部 製造Gr.<br>プロセス開発チーム</p>
                </div>
                <p class="movie-txt">「インタビュー動画はコチラ」</p><iframe width="450" height="256" src="https://www.youtube.com/embed/1eBg6AYIif8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div><img src="/assets/img/section__member__img02.png" alt="">
            </div>
          </div>
        </div>
        <div class="section__message">
          <div class="section__side" id="message"> 
            <hr>
            <div></div>
            <p>Message from the President</p>
          </div>
          <div class="section__message__tit"> <img src="/assets/img/section__message__tit.png"></div>
          <div class="section__message__inner"><img src="/assets/img/section__message__left.png">
            <div class="section__message__inner__right"> 
              <h4>就活生に呼びかけるような<br>メッセージを記載</h4>
              <p>代表取締役</p><img src="/assets/img/section__message__right__name.png">
              <p class="name-eng">SHINGO KOYAMA</p><a href=""><img src="/assets/img/section__message__right__btn.png">
                <p>（本当に知りたい方のみ閲覧ください）</p></a>
            </div>
          </div>
        </div>
        <div class="section__flow">
          <div class="section__side" id="flow">
            <hr>
            <div></div>
            <p>Application requirements / selection flow</p>
          </div>
          <div class="section__flow__tit"> <img src="/assets/img/section__flow__tit.png"></div>
          <div class="section__flow__inner">
            <div class="section__flow__inner__tit">
              <h2>募集要項</h2>
            </div>
            <div class="section__flow__inner__table"> 
              <table>
                <tbody>
                  <tr>
                    <td>募集職種</td>
                    <th>技術系（研究開発・製造・品質管理）<br>営業系（国内外）<br>事務系（貿易・生産管理・総務）</th>
                  </tr>
                  <tr>
                    <td>募集人数</td>
                    <th>10〜15名程度</th>
                  </tr>
                  <tr>
                    <td>募集対象</td>
                    <th>大学卒・大学院卒(全学部および全学科)<br>2023年4月入社可能な方(既卒可)4月以降の入社もご相談ください。</th>
                  </tr>
                  <tr>
                    <td>初任給</td>
                    <th>212,600～221,600円（大卒・見込み）</th>
                  </tr>
                  <tr>
                    <td>賞与</td>
                    <th>年2回（5月 / 12月）</th>
                  </tr>
                  <tr>
                    <td>休日</td>
                    <th>休暇完全週休2日制（土曜・日曜・祝日）</th>
                  </tr>
                  <tr>
                    <td>年間休日数  </td>
                    <th>126日（2021年度）<br>夏季休暇 / 年末年始休暇 / 年次有給休暇 /慶弔休暇</th>
                  </tr>
                  <tr>
                    <td>勤務地</td>
                    <th>東京本社（東京都港区）<br>海外工場（フィリピンセブ島）</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="section__flow__inner__step">
            <div class="section__flow__inner__tit">
              <h2>選考フロー</h2>
            </div>
            <div class="section__flow__step__outer">
              <div class="section__flow__step__inner">
                <div class="section__flow__step__left">
                  <p>エントリー</p>
                </div>
                <div class="section__flow__step__right">
                  <p>まずはお気軽にエントリーください。会社説明会への申し込みをお願いします。</p>
                </div>
              </div>
              <div class="section__flow__step__arrow"></div>
              <div class="section__flow__step__inner">
                <div class="section__flow__step__left">
                  <p>会社説明会<br><span>(オンライン)</span></p>
                </div>
                <div class="section__flow__step__right">
                  <p>社長が参加するオンライン会社説明会です。会社紹介、社長講談、Q＆Aを実施します。</p>
                </div>
              </div>
              <div class="section__flow__step__arrow"></div>
              <div class="section__flow__step__inner">
                <div class="section__flow__step__left">
                  <p>書類選考 <br><span>(作文・履歴書)</span></p>
                </div>
                <div class="section__flow__step__right">
                  <p>履歴書 or ESと、作文をご提出ください。(作文のテーマは別途ご連絡いたします。)</p>
                </div>
              </div>
              <div class="section__flow__step__arrow"></div>
              <div class="section__flow__step__inner">
                <div class="section__flow__step__left">
                  <p>会社説明会<br><span>(オンライン)</span></p>
                </div>
                <div class="section__flow__step__right">
                  <p>まずはお気軽にエントリーください。会社説明会への申し込みをお願いします。</p>
                </div>
              </div>
              <div class="section__flow__step__arrow"></div>
              <div class="section__flow__step__inner">
                <div class="section__flow__step__max">
                  <p>WEB適正検査</p>
                </div>
              </div>
              <div class="section__flow__step__arrow"></div>
              <div class="section__flow__step__inner">
                <div class="section__flow__step__left">
                  <p>人事面接</p>
                </div>
                <div class="section__flow__step__right">
                  <p>人事担当者による個人面接となります。自分の気持ち、情熱を面接官に思いきりぶつけてください。<br>何に情熱を注いできたかをお伺いいたします。※遠方にお住まいの方はZoomでの面接が可能</p>
                </div>
              </div>
              <div class="section__flow__step__arrow"></div>
              <div class="section__flow__step__inner">
                <div class="section__flow__step__left">
                  <p>最終選考</p>
                </div>
                <div class="section__flow__step__right">
                  <p>社長との個人面接です。弊社に対するアツい想いをぶつけてください。<br>※遠方にお住まいの方も来社していただきます</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section__entry">
          <div class="section__side"> 
            <hr class="blue-bg">
            <div class="blue-bg" id="entry"></div>
            <p class="blue-p">Entry</p>
          </div>
          <div class="section__entry__tit"> <img src="/assets/img/section__entry__tit.png"></div>
          <div class="section__entry__inner"> 
            <form class="job-entry-form" method="post" action="index.php" enctype="multipart/form-data">
              <dl>
                <dt>氏名<span>必須</span></dt>
                <dd>
                  <input class="middle" type="text" name="氏名" placeholder="例)山田太郎">
                  <input type="hidden" name="required[]" value="氏名">
                  <input type="hidden" name="zenkaku_check[]" value="氏名">
                </dd>
                <dt>メールアドレス<span>必須</span></dt>
                <dd>
                  <input class="middle" type="text" name="メールアドレス" placeholder="例)info@aaa.co.jp">
                  <input type="hidden" name="email[]" value="メールアドレス">
                  <input type="hidden" name="required[]" value="メールアドレス">
                </dd>
                <dt>学校名<span>必須</span></dt>
                <dd>
                  <input class="middle" type="text" name="学校名" placeholder="例)テクダイヤ大学　学部">
                  <input type="hidden" name="required[]" value="学校名">
                  <input type="hidden" name="zenkaku_check[]" value="学校名">
                </dd>
                <dt>卒業時期<span>必須</span></dt>
                <dd>
                  <select name="卒業時期:年">
                    <option value="お選びください">お選びください</option>
                    <option value="2023">2023年</option>
                    <option value="2022">2022年</option>
                    <option value="2021">2021年</option>
                    <option value="既卒">既卒</option>
                    <option value="その他">その他</option>
                  </select><span>年</span>
                  <select name="卒業時期:月">
                    <option value="お選びください">お選びください</option>
                    <option value="03">03</option>
                    <option value="06">06</option>
                    <option value="09">09</option>
                    <option value="その他">その他</option>
                  </select><span>月</span>
                  <input type="hidden" name="required[]" value="卒業時期:年">
                  <input type="hidden" name="required[]" value="卒業時期:月">
                </dd>
                <dt>会社説明会<span>必須</span></dt>
                <dd>
                  <label>
                    <input type="radio" name="会社説明会" value="2022/3/7(月) 14:00-15:30 (オンライン)">2022/3/7(月) 14:00-15:30 (オンライン)
                  </label>
                  <label>
                    <input type="radio" name="会社説明会" value="別日程希望">別日程希望
                  </label>
                  <p>※オンラインの場合はZoomで行います。</p>
                  <input type="hidden" name="required[]" value="会社説明会">
                </dd>
                <dt>アンケート</dt>
                <dd>
                  <p>テクダイヤを何で知りましたか？</p>
                  <label>
                    <input type="radio" name="アンケート" value="Instagram">Instagram
                  </label>
                  <label>
                    <input type="radio" name="アンケート" value="Facebook">Facebook
                  </label>
                  <label>
                    <input type="radio" name="アンケート" value="イベント">イベント
                  </label>
                  <label>
                    <input type="radio" name="アンケート" value="ご紹介">ご紹介
                  </label>
                  <label>
                    <input type="radio" name="アンケート" value="その他">その他
                  </label>
                </dd>
              </dl>
              <div class="privacy-box">
                <p class="title">個人情報保護について</p>
                <p>テクダイヤ株式会社では、ホームページの運営に際し、お客様のプライバシーを尊重し個人情報に対して十分な配慮を行うと共に大切に保護し、適正な管理を行うことに努めております。</p><br>ご入力いただいたお客様の個人情報は原則としてお客様へのご回答以外の目的には使用いたしません。
              </div>
              <button><img src="/assets/img/icon_job_form.png">確認する</button>
            </form>
          </div>
          <div class="section__entry__inner">
            <div class="section__entry__qanda"><a href="#">採用に関してのよくある質問はこちら</a></div>
            <div class="section__entry__links"> <a class="section__entry__links__sns" href="#"> <img src="/assets/img/icon_tw.png" alt="">
                <p>@tecdia_pr</p></a><a class="section__entry__links__sns" href="#"><img src="/assets/img/icon_insta.png" alt="">
                <p>@tecdia_recruit</p></a></div>
            <div class="section__entry__footage"> <img src="/assets/img/footage.png" alt=""></div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer class="footer"></footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/js/swiper-setting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/assets/js/graph-setting.js"></script>
  </body>
</html>

resources/pug/index.pug
extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
    link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
    //- スライダー
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="/assets/js/swiper-setting.js")
    //- カウントアップ
    script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js")
    script(src="/assets/js/jquery.counterup.min.js")
    //- 円グラフ
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels")
    script(src="/assets/js/graph-setting.js")
    

block contents
    //- コンテンツ本文
    .section__top
        .section__top__logo 
            a(href="#") 
                img(src="/assets/img/top_logo.png" alt="TECDIA")
        .section__top__logo 




    .section__news 
        .section__news__inner 
            .section__news__tit 
                h2 News
                hr
                p お知らせ
            ul.section__news__headline
                li
                    p 2022.04.12
                    .section__news__headline__tag.section__news__headline__tag__gr
                        p 採用情報
                    h3 採用情報を新たに更新いたしました。
                li
                    p 2022.04.12
                    .section__news__headline__tag.section__news__headline__tag__or
                        p 社員紹介
                    h3 写真紹介を更新いたしました。
                li
                    p 2022.04.12
                    .section__news__headline__tag.section__news__headline__tag__pu
                        p お知らせ
                    h3 リクルートサイトを公開いたしました。

    .section__about 
        .section__side#about
            hr
            div
            p About us
        .section__about__inner 
            .section__about__lead 
                .section__about__lead__left
                    img(src="/assets/img/section__about__img.png", alt="TECDIAとは")
                .section__about__lead__right 
                    h2 
                        span TECDIA
                        |とは
                    p 社名のダイヤは、紛れもなく世界で一番硬い鉱物であるダイヤモンドが由来です。
                        br
                        |テクダイヤは創業当初、ダイヤモンドを取り扱う商社でした。創業から現在まで
                        br
                        |様々な事業変態を繰り返し、現在はメーカーとして世の中に貢献しています。
                        br
                        |テクダイヤは砂粒のように数多く存在する中の一企業かもしれない。
                        br
                        |しかし我々はその砂の中でも埋もれることなく、小さくてもキラリと光るダイヤの
                        br
                        |ような存在感を保ち続けていたい。そんな想いで、 
                        span “真に価値のあるもの”
                        |を
                        br
                        |創造し続けていきます。 
                    .section__about__lead__btn
                        a(href="")  会社概要
                    
            .section__about__slider
                .section__about__slider__tit
                    img(src="/assets/img/section__about__tit.png")
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            .slider__inner 
                                .slider__inner__tit
                                    p セラミック応用技術
                                .slider__inner__content 
                                    img(src="/assets/img/top__slider__img01.png", alt="セラミック応用技術")
                                    p 陶器や食器、差し歯にも使用されているセラミック。テクダイヤは、このセラミックを調合・焼成し、金属で成膜した単層コンデンサを製造・販売しています。一般的な電気製品で多用されている積層コンデンサとは異なり、5G通信にも対応した特殊な製品です。このコンデンサは光通信の送受信デバイスなどに用いられ、ニッチマーケットでシェアナンバー1を獲得しています。
                        .swiper-slide
                            .slider__inner 
                                .slider__inner__tit
                                    p ダミー02
                                .slider__inner__content 
                                    img(src="/assets/img/top__slider__img01.png", alt="セラミック応用技術")
                                    p 陶器や食器、差し歯にも使用されているセラミック。テクダイヤは、このセラミックを調合・焼成し、金属で成膜した単層コンデンサを製造・販売しています。一般的な電気製品で多用されている積層コンデンサとは異なり、5G通信にも対応した特殊な製品です。このコンデンサは光通信の送受信デバイスなどに用いられ、ニッチマーケットでシェアナンバー1を獲得しています。
                        .swiper-slide
                            .slider__inner 
                                .slider__inner__tit
                                    p ダミー03
                                .slider__inner__content 
                                    img(src="/assets/img/top__slider__img01.png", alt="セラミック応用技術")
                                    p 陶器や食器、差し歯にも使用されているセラミック。テクダイヤは、このセラミックを調合・焼成し、金属で成膜した単層コンデンサを製造・販売しています。一般的な電気製品で多用されている積層コンデンサとは異なり、5G通信にも対応した特殊な製品です。このコンデンサは光通信の送受信デバイスなどに用いられ、ニッチマーケットでシェアナンバー1を獲得しています。

                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next

    .section__number 
        .section__side#number
            hr
            div
            p Tecdia in numbers
        .section__number__tit 
            img(src="/assets/img/section__number__tit.png")
            p さまざまな取り組みや実績にまつわる数値からテクダイヤの魅力を解明
        .section__number__inner
            ul 
                li
                    .back-img
                        h4 創立年数
                        p.build-year
                            span.num.count 1976
                            span 年
                        img(src="/assets/img/build-year.png")
                li 
                    .ratio
                        h4 男女比
                        img(src="/assets/img/ratio.png")
                        p 
                            span.count 6
                            |:
                            span.count 4
                li 
                    .length
                        h4 平均勤続年数
                        p
                            span.count 10
                            | 年以上
                        img(src="/assets/img/length.png")
                li.big
                    .old
                        h4 平均年齢
                        .old__inner
                            .old__graph
                                canvas#chart01
                            p 平均
                                span.count.old-num 38
                                span.old-txt 歳
                li
                    .time
                        h4 月次平均残業時間
                        p
                            span.count 6.4
                            | 時間
                        img(src="/assets/img/time.png")
                li 
                    h4 在籍社員国籍
                    img.country(src="/assets/img/country.png")
                li 
                    h4 海外出張経験者割合
                    .trip
                        canvas#chart02
                li 
                    h4 海外出張先
                    img.trip_country(src="/assets/img/trip_country.png")


    .section__welfare
        .section__side#welfare
            hr
            div
            p Employee system and benefits
        .section__welfare__tit 
            img(src="/assets/img/section__welfare__tit.png")
        .section__welfare__inner
            .section__welfare__content
                .section__welfare__content__subtit
                    .section__welfare__content__subtit__inner
                        h3.section__welfare__content__subtit__inner__lead01 新しい働き方

                .section__welfare__content__txt 
                    .section__welfare__content__txt__lead 
                        p 働く場所の選択肢を広げる取り組みを推進。時間効率の最大化をおこない、
                            br
                            |社員が安心して力を発揮できる職場づくりを実現します。

                    h4 サテライトオフィス勤務（フリーアドレス）
                    hr
                    p 所属部門が入居していないオフィスへの出社も許可し、時間の有効活用を実現。 
                    h4 モバイルワーク
                    hr
                    p 所属部門が入居していないオフィスへの出社も許可し、時間の有効活用を実現。 
                    h4 在宅勤務
                    hr
                    p 仕事と家庭の両立、通勤時間の削減。  
            
            .section__welfare__content.mt-120
                .section__welfare__content__subtit
                    .section__welfare__content__subtit__inner
                        h3.section__welfare__content__subtit__inner__lead02 仕事と育児・介護の両立

                .section__welfare__content__txt 
                    .section__welfare__content__txt__lead 
                        p 「子育て世代」や「介護世代」が安心して働ける職場や仕組みづくりを推進。
                            br
                            |社員の健康維持・増進に努め、生産性と創造性を向上させて、
                            br
                            |すべての社員と家族が幸せを実感でき、安心していきいきと働ける会社を目指します。


                    h4 育児
                    hr
                    p.section__welfare__content__txt__flow-left ・育児時短勤務
                        br
                        |　子どもが小学校へ入学するまで、1日2時間まで勤務時間を短縮できます。
                        br
                        |・育児休業
                        br
                        |　子どもが満1歳を迎える誕生日の前日まで休暇を取得できます。（最大2年まで延長可能）
                        br
                        |・子どもの看護休暇
                        br
                        |　小学校入学までの子どもが負傷や疾病にかかった場合、子どもが1人の場合は
                        br
                        |　1年間につき5日、2人以上の場合は1年間につき10日まで看護休暇を取得する
                        br
                        |　ことができます。
                        br
                        |・長期障害所得補償
                        br
                        |　病気やケガで長期間仕事が出来なくなった場合に、最長で60歳まで収入を保証する制度。
                        br
                        |　社員がより安心して働ける職場環境の実現に向けた支援制度です。

                    h4 介護
                    hr
                    p.section__welfare__content__txt__flow-left ・介護時短勤務
                        br
                        |　介護が継続する間、1日2時間まで勤務時間を短縮できます。
                        br
                        |　介護休業
                        br
                        |　要介護状態にある家族の介護、その他の世話をする社員は、通算93日間、
                        br
                        |　3回まで介護休業の分割取得ができる制度です。
                        br
                        |・介護休暇
                        br
                        |　要介護状態にある家族の介護、その他の世話をする社員は、当該家族が1人の場合は1年間につき5日、
                        br
                        |　2人以上の場合は1年間につき10日まで介護休暇を取得することができます。
        
    .section__member 
        .section__side#member
            hr
            div
            p Employee introduction
        .section__member__tit 
            img(src="/assets/img/section__member__tit.png")

        .section__member__inner
            .section__member__inner__flex 
                img(src="/assets/img/section__member__img01.png", alt="")
                .section__member__inner__txt-right
                    p.name 岩井元
                    p.name-eng GEN IWAI
                    .section__member__inner__role 
                        p 2020年入社
                        p 企画部 ITインフラ
                            br
                            |FA推進チーム
                    p.movie-txt 「インタビュー動画はコチラ」
                    <iframe width="450" height="256" src="https://www.youtube.com/embed/1eBg6AYIif8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        .section__member__inner
            .section__member__inner__flex 
                .section__member__inner__txt-left
                    p.name 戸部 綾菜
                    p.name-eng AYANA TOBE
                    .section__member__inner__role 
                        p 2015年入社
                        p 技術開発部 製造Gr.
                            br
                            |プロセス開発チーム
                    p.movie-txt 「インタビュー動画はコチラ」
                    <iframe width="450" height="256" src="https://www.youtube.com/embed/1eBg6AYIif8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                img(src="/assets/img/section__member__img02.png", alt="")
                


    
    .section__message
        .section__side#message 
            hr
            div
            p Message from the President
        .section__message__tit 
            img(src="/assets/img/section__message__tit.png")
        .section__message__inner
            img(src="/assets/img/section__message__left.png")
            .section__message__inner__right 
                h4 就活生に呼びかけるような
                    br
                    |メッセージを記載
                p 代表取締役
                img(src="/assets/img/section__message__right__name.png")
                p.name-eng SHINGO KOYAMA
                a(href="")
                    img(src="/assets/img/section__message__right__btn.png")
                    p|（本当に知りたい方のみ閲覧ください）




    .section__flow
        .section__side#flow
            hr
            div
            p Application requirements / selection flow
        .section__flow__tit 
            img(src="/assets/img/section__flow__tit.png")
        .section__flow__inner
            .section__flow__inner__tit
                h2 募集要項
            .section__flow__inner__table 
                    table
                        tbody
                            tr
                                td 募集職種
                                th 技術系（研究開発・製造・品質管理）
                                    br
                                    |営業系（国内外）
                                    br
                                    |事務系（貿易・生産管理・総務）
                            tr
                                td 募集人数
                                th 10〜15名程度
                            tr
                                td 募集対象
                                th 大学卒・大学院卒(全学部および全学科)
                                    br
                                    |2023年4月入社可能な方(既卒可)4月以降の入社もご相談ください。
                            tr
                                td 初任給
                                th 212,600～221,600円（大卒・見込み）
                            tr
                                td 賞与
                                th 年2回（5月 / 12月）
                            tr
                                td 休日
                                th 休暇完全週休2日制（土曜・日曜・祝日）
                            tr
                                td 年間休日数  
                                th 126日（2021年度）
                                    br
                                    |夏季休暇 / 年末年始休暇 / 年次有給休暇 /慶弔休暇
                            tr
                                td 勤務地
                                th 東京本社（東京都港区）
                                    br
                                    |海外工場（フィリピンセブ島）
            
        .section__flow__inner__step
            .section__flow__inner__tit
                h2 選考フロー
            .section__flow__step__outer
                .section__flow__step__inner
                    .section__flow__step__left
                        p エントリー
                    .section__flow__step__right
                        p まずはお気軽にエントリーください。会社説明会への申し込みをお願いします。
                .section__flow__step__arrow
                .section__flow__step__inner
                    .section__flow__step__left
                        p 会社説明会
                            br
                            span (オンライン)
                    .section__flow__step__right
                        p 社長が参加するオンライン会社説明会です。会社紹介、社長講談、Q＆Aを実施します。
                .section__flow__step__arrow
                .section__flow__step__inner
                    .section__flow__step__left
                        p 書類選考 
                            br
                            span (作文・履歴書)
                    .section__flow__step__right
                        p 履歴書 or ESと、作文をご提出ください。(作文のテーマは別途ご連絡いたします。)
                .section__flow__step__arrow
                .section__flow__step__inner
                    .section__flow__step__left
                        p 会社説明会
                            br
                            span (オンライン)
                    .section__flow__step__right
                        p まずはお気軽にエントリーください。会社説明会への申し込みをお願いします。
                .section__flow__step__arrow
                .section__flow__step__inner
                    .section__flow__step__max
                        p WEB適正検査
                .section__flow__step__arrow
                .section__flow__step__inner
                    .section__flow__step__left
                        p 人事面接
                    .section__flow__step__right
                        p 人事担当者による個人面接となります。自分の気持ち、情熱を面接官に思いきりぶつけてください。
                            br
                            |何に情熱を注いできたかをお伺いいたします。※遠方にお住まいの方はZoomでの面接が可能
                .section__flow__step__arrow
                .section__flow__step__inner
                    .section__flow__step__left
                        p 最終選考
                    .section__flow__step__right
                        p 社長との個人面接です。弊社に対するアツい想いをぶつけてください。
                            br
                            |※遠方にお住まいの方も来社していただきます

    .section__entry
        .section__side 
            hr.blue-bg
            div.blue-bg#entry
            p.blue-p Entry
        .section__entry__tit 
            img(src="/assets/img/section__entry__tit.png")
        .section__entry__inner 
            form.job-entry-form(method="post", action="index.php", enctype="multipart/form-data")
                dl
                    dt 氏名
                        span 必須
                    dd
                        input.middle(type="text", name="氏名", placeholder="例)山田太郎")
                        input(type="hidden", name="required[]", value="氏名")
                        input(type="hidden", name="zenkaku_check[]", value="氏名")
                    dt メールアドレス
                        span 必須
                    dd
                        input.middle(type="text", name="メールアドレス",placeholder="例)info@aaa.co.jp")
                        input(type="hidden", name="email[]", value="メールアドレス")
                        input(type="hidden", name="required[]", value="メールアドレス")
                    dt 学校名
                        span 必須
                    dd
                        input.middle(type="text", name="学校名",placeholder="例)テクダイヤ大学　学部")
                        input(type="hidden", name="required[]", value="学校名")
                        input(type="hidden", name="zenkaku_check[]", value="学校名")
                    dt 卒業時期
                        span 必須
                    dd
                        select(name="卒業時期:年")
                            option(value="お選びください") お選びください
                            option(value="2023") 2023年
                            option(value="2022") 2022年
                            option(value="2021") 2021年
                            option(value="既卒") 既卒
                            option(value="その他") その他
                        span 年
                        select(name="卒業時期:月")
                            option(value="お選びください") お選びください
                            option(value="03") 03
                            option(value="06") 06
                            option(value="09") 09
                            option(value="その他") その他
                        span 月
                        input(type="hidden", name="required[]", value="卒業時期:年")
                        input(type="hidden", name="required[]", value="卒業時期:月")
                    dt 会社説明会
                        span 必須
                    dd
                        label
                            input(type="radio", name="会社説明会", value="2022/3/7(月) 14:00-15:30 (オンライン)")
                            | 2022/3/7(月) 14:00-15:30 (オンライン)
                        label
                            input(type="radio", name="会社説明会", value="別日程希望")
                            | 別日程希望
                        p ※オンラインの場合はZoomで行います。
                        input(type="hidden", name="required[]", value="会社説明会")
                    dt アンケート
                    dd
                        p テクダイヤを何で知りましたか？
                        label
                            input(type="radio", name="アンケート", value="Instagram")
                            | Instagram
                        label
                            input(type="radio", name="アンケート", value="Facebook")
                            | Facebook
                        label
                            input(type="radio", name="アンケート", value="イベント")
                            | イベント
                        label
                            input(type="radio", name="アンケート", value="ご紹介")
                            | ご紹介
                        label
                            input(type="radio", name="アンケート", value="その他")
                            | その他
                .privacy-box
                    p.title 個人情報保護について
                    p テクダイヤ株式会社では、ホームページの運営に際し、お客様のプライバシーを尊重し個人情報に対して十分な配慮を行うと共に大切に保護し、適正な管理を行うことに努めております。
                    br
                    | ご入力いただいたお客様の個人情報は原則としてお客様へのご回答以外の目的には使用いたしません。
                button
                    img(src="/assets/img/icon_job_form.png")
                    | 確認する

        .section__entry__inner
            .section__entry__qanda
                a(href="#") 採用に関してのよくある質問はこちら
            .section__entry__links 
                a(href="#").section__entry__links__sns 
                    img(src="/assets/img/icon_tw.png", alt="")
                    p @tecdia_pr
                a(href="#").section__entry__links__sns
                    img(src="/assets/img/icon_insta.png", alt="")
                    p @tecdia_recruit
            .section__entry__footage 
                img(src="/assets/img/footage.png", alt="")
