webroot/index copy.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxx-x"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-xxxxxxxx-x');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- META-->
    <title>サイト名</title>
    <meta name="description" content="descriptionを記入してください"/>
    <meta name="keywords" content="keywordを記入して下さい"/>
    <meta name="twitter:site" content="https://test.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="descriptionを記入してください"/>
    <meta name="twitter:image:src" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:title" content="サイト名"/>
    <meta property="og:site_name" content="サイト名"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:image" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:description" content="descriptionを記入してください"/>
    <link rel="shortcut icon" href="/assets/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicon.png"/>
    <!-- CSS-->
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/top.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header class="header">
        <div id="navArea">
          <nav>
            <div class="inner">
              <ul>
                <li><a href="#about"> <span>About us</span><br>TECDIAとは</a></li>
                <li><a href="#number"> <span>Tecdia in numbers</span><br>数字で見るテクダイヤ</a></li>
                <li><a href="#welfare"> <span>Employee system and benefits</span><br>社員制度や福利厚生</a></li>
                <li><a href="#member"> <span>Employee introduction</span><br>社員紹介</a></li>
                <li><a href="#message"> <span>Message from the President</span><br>社員メッセージ</a></li>
                <li><a href="#flow"> <span>Application requirements / selection flow</span><br>募集要項・選考フロー</a></li>
                <li><a href="#entry"> <span>Entry</span><br>エントリー</a></li>
              </ul>
            </div>
          </nav>
          <div class="toggle_btn"><span></span><span></span><span></span></div>
          <div id="mask"></div>
        </div>
      </header>
      <div class="content">
        <p>トップページサンプル</p>
        <ul>
          <li class="sample__item"><a class="menu_undefined" href="/sample/page_sample.html">下層ページサンプル1</a></li>
          <li class="sample__item"><a class="menu_undefined" href="/sample/page_sample2.html">下層ページサンプル2</a></li>
        </ul>
        <h2>タブ機能</h2>
        <p>下記のようなコーディングでタブが機能します。</p>
        <div style="background: #eee;padding: 20px">
          <pre>.tab
    input.tab__check(type="radio" name="tab" id="tab--1" checked)
    - for (var i = 1; i < 4; i++)
        input.tab__check(type="radio" name="tab" id="tab--"+(i+1))
    ul.tab__list
        li.tab__item
            label.tab__link(href="#" for="tab--1") タブ1
        li.tab__item
            label.tab__link(href="#" for="tab--2") タブ2
        li.tab__item
            label.tab__link(href="#" for="tab--3") タブ3
        li.tab__item
            label.tab__link(href="#" for="tab--4") タブ4
    .tab__body
    - for (var i = 0; i < 4; i++)
        .tab__content
            p タブ NaN</pre>
        </div>
        <div class="tab">
          <input class="tab__check" type="radio" name="tab" id="tab--1" checked>
          <input class="tab__check" type="radio" name="tab" id="tab--2">
          <input class="tab__check" type="radio" name="tab" id="tab--3">
          <input class="tab__check" type="radio" name="tab" id="tab--4">
          <ul class="tab__list">
            <li class="tab__item">
              <label class="tab__link" href="#" for="tab--1">タブ1</label>
            </li>
            <li class="tab__item">
              <label class="tab__link" href="#" for="tab--2">タブ2</label>
            </li>
            <li class="tab__item">
              <label class="tab__link" href="#" for="tab--3">タブ3</label>
            </li>
            <li class="tab__item">
              <label class="tab__link" href="#" for="tab--4">タブ4</label>
            </li>
          </ul>
          <div class="tab__body"></div>
          <div class="tab__content">
            <p>タブ1</p>
          </div>
          <div class="tab__content">
            <p>タブ2</p>
          </div>
          <div class="tab__content">
            <p>タブ3</p>
          </div>
          <div class="tab__content">
            <p>タブ4</p>
          </div>
        </div>
        <hr>
        <h2>CSS矢印生成ツール</h2>
        <p><b>getArw($color, $weight(light,medium,bold,bla), $rotate(top,bottom,right,left), $round(数値/false));</b></p>
        <div class="arw-1">疑似要素のContentとして使用出来ます。（何も指定しない場合、中間サイズの黒い下向き矢印になります）</div><br>
        <div class="arw-2">background-imageとしても使用できます。(IE11のみ非対応)<br>サイズや位置はbackground-size、background-positionで調整します。</div><br>
        <div class="arw-3">色は自由に指定できます。（rgba非対応）矢印の太さは4種類（light/medium/bold/bla）、角丸のオンオフも可能です。サイズは要素のwidthで調整します。<br>（角丸の具合は$round値で調整できます。あまり太らせすぎるとviewboxをはみ出してしまうので1〜7程度が無難です）</div>
        <div class="arw-3 arw-3--1"><b>上の矢印との違いは角丸設定の有無のみです。</b></div><br>
        <div class="arw-4"><b>ご自由にお使いください！</b></div>
        <hr>
        <h2>外部リンクアイコン生成ツール</h2>
        <p><b>getblankicon($color, $round: true)</b></p>
        <p>外部リンク用のアイコンを出力します。使い方は矢印生成ツールと同じです。</p>
        <p><a class="link link--blank" href="http://idealump.com" target="_blank">IDEALUMP</a></p>
        <p><a class="link link--blank2" href="http://idealump.com" target="_blank">IDEALUMP</a></p>
        <hr>
        <h2>モーダル（modaal）</h2>
        <p>使用しない場合app.jsの<br>const modaal = require('modaal');<br>を削除してください。</p><a href="https://source.unsplash.com/648x416" js-modaal>サンプル</a>
        <hr>
        <h2><a href="validation.html">フォーム周り（長くなってきたので別ページ化しました）</a></h2>
      </div>
      <!-- footer-->
      <footer class="footer"></footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>

resources/pug/index copy.pug
extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    p トップページサンプル
    ul
        for menu,index in samplemenu
            +mixinsample(menu, index)
    h2 タブ機能
    p 下記のようなコーディングでタブが機能します。
    div(style="background: #eee;padding: 20px")
        pre
            .
                .tab
                    input.tab__check(type="radio" name="tab" id="tab--1" checked)
                    - for (var i = 1; i < 4; i++)
                        input.tab__check(type="radio" name="tab" id="tab--"+(i+1))
                    ul.tab__list
                        li.tab__item
                            label.tab__link(href="#" for="tab--1") タブ1
                        li.tab__item
                            label.tab__link(href="#" for="tab--2") タブ2
                        li.tab__item
                            label.tab__link(href="#" for="tab--3") タブ3
                        li.tab__item
                            label.tab__link(href="#" for="tab--4") タブ4
                    .tab__body
                    - for (var i = 0; i < 4; i++)
                        .tab__content
                            p タブ !{i+1}
    .tab
        input.tab__check(type="radio" name="tab" id="tab--1" checked)
        - for (var i = 1; i < 4; i++)
            input.tab__check(type="radio" name="tab" id="tab--"+(i+1))
        ul.tab__list
            li.tab__item
                label.tab__link(href="#" for="tab--1") タブ1
            li.tab__item
                label.tab__link(href="#" for="tab--2") タブ2
            li.tab__item
                label.tab__link(href="#" for="tab--3") タブ3
            li.tab__item
                label.tab__link(href="#" for="tab--4") タブ4
        .tab__body
        - for (var i = 0; i < 4; i++)
            .tab__content
                p タブ!{i+1}
    hr
    h2 CSS矢印生成ツール
    p
        b getArw($color, $weight(light,medium,bold,bla), $rotate(top,bottom,right,left), $round(数値/false));
    .arw-1 疑似要素のContentとして使用出来ます。（何も指定しない場合、中間サイズの黒い下向き矢印になります）
    br
    .arw-2
        |background-imageとしても使用できます。(IE11のみ非対応)
        br
        |サイズや位置はbackground-size、background-positionで調整します。
    br
    .arw-3
        |色は自由に指定できます。（rgba非対応）矢印の太さは4種類（light/medium/bold/bla）、角丸のオンオフも可能です。サイズは要素のwidthで調整します。
        br
        |（角丸の具合は$round値で調整できます。あまり太らせすぎるとviewboxをはみ出してしまうので1〜7程度が無難です）
    .arw-3.arw-3--1
        b 上の矢印との違いは角丸設定の有無のみです。
    br
    .arw-4
        b ご自由にお使いください！
    hr

    h2 外部リンクアイコン生成ツール
    p
        b getblankicon($color, $round: true)
    p 外部リンク用のアイコンを出力します。使い方は矢印生成ツールと同じです。
    p: a.link.link--blank(href="http://idealump.com",target="_blank") IDEALUMP
    p: a.link.link--blank2(href="http://idealump.com",target="_blank") IDEALUMP

    hr
    
    h2 モーダル（modaal）
    p
        |使用しない場合app.jsの
        br
        |const modaal = require('modaal');
        br
        |を削除してください。
    a(href="https://source.unsplash.com/648x416", js-modaal) サンプル
    
    hr



    h2: a(href="validation.html") フォーム周り（長くなってきたので別ページ化しました）
