resources/pug/validation.pug
extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- フォーム関連
    //- select2
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
block append end_of_body
    //- jQueryバリデーションと入力補助
    //- select2
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    //- ajaxzip3
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    //- autoKana（入力内容をカナ変換して指定のフォームへ自動入力）
    <script src="/assets/js/jquery.autoKana.js" charset="UTF-8"></script>
    //- jQueryvalidation
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" charset="UTF-8"></script>
    
    <script src="/assets/js/validation.js" charset="UTF-8"></script>
block contents
    //- コンテンツ本文
    h2 フォーム周り
    p tabキーを使用したアクセシビリティに対応しました。
    p スタイル周りを整理し、デザイン調整しやすい作りにしました。
    p
        |フロントエンド側でjQueryValidationを使ったバリデーションが行えるようになりました。
        br
        strong 必須にしたい
        |……必須にしたいinput/select/textareaにrequiredを設定してください。
        br
        strong 入力内容を制限したい
        |……入力内容を制限したいinput/select/textareaにjs-validate="ルール名"を設定してください。使用可能なバリデーションルールは
        a(href="https://jqueryvalidation.org/" target="_blank") jQuery-validate
        |またはvalidation.jsのエラーメッセージで確認できます。
        br
        |n文字以上など引数が必要な場合、ルール名:引数とコロン区切りで設定できます。
        br
        |rangelengthなどの引数に配列を指定する場合、|区切りにしてください。　例）js-validate="rangelength:5|10" で5〜10文字まで入力可能
        br
        strong 複数のバリデーションルールを設定したい
        |……セミコロン区切りで設定可能です　例）js-validate="number,maxlength:8" で数字のみ8文字まで入力可能
        br
        |その他使用可能なバリデーション及びカスタマイズについてはvalidation.jsにコメントを記述していますので確認ください。
        br
        a(href="https://jqueryvalidation.org/" target="_blank") jQuery-validateドキュメント
    p
        |バリデーションエラーのテキストは【span.error(data-error="フォームのnameプロパティ")】に出力されるようになっています。
        br
        |上記の命名ルールに沿ってdata-errorを指定していればタグの記述位置はどこでも動作します。
    
    form(method="get")
        dl.form
            .formitem
                dt
                    label.label 氏名
                    span.require ※
                dd
                    .inputwrapper
                        div
                            input.input(type="text", name="lastName", placeholder="姓", js-validate, required, js-autoKana, data-field="lastNameKana")
                            span.error(data-error='lastName-error')
                        span
                        div
                            input.input(type="text", name="firstName", placeholder="名", js-validate, required, js-autoKana, data-field="firstNameKana")
                            span.error(data-error='firstName-error')
            .formitem 
                p js-autoKanaとdata-field=""をつけるとdata-fieldで設定したnameを持つフォームへ入力した内容を自動でカナ変換して入力します。（予測変換には対応出来ません）
            .formitem
                dt
                    label.label フリガナ
                    span.require ※
                dd
                    .inputwrapper
                        div
                            input.input(type="text", name="lastNameKana", placeholder="セイ", js-validate="katakana", required)
                            span.error(data-error='lastNameKana-error')
                        span
                        div
                            input.input(type="text", name="firstNameKana", placeholder="メイ", js-validate="katakana", required)
                            span.error(data-error='firstNameKana-error')
            .formitem
                dt
                    label.label 生年月日
                    span.require ※
                dd
                    .inputwrapper
                        +dateinput()
                    span.error(data-error='birthday-error')
            .formitem 
                p
                    |error-label="xxx"を設定する事でエラー表示を1箇所にまとめる事ができます。
                    br
                    |上記では生年月日の年/月/日のエラーをbirthday-errorに出力しています。
            .formitem
                dt 
                    label.label ファイル
                dd 
                    input(name="picture" type="file", js-validate, data-validate-rule="{'accept': filetype, 'filesize': 10}")
            .formitem
                dt
                    label.label 郵便番号
                    span.require ※
                dd
                    .inputwrapper.inputwrapper--zip
                        span 〒
                        input.input.input--zip(type="text", name="postNumber", js-validate, js-zenhan, js-ajaxzip, data-field="prefecture,address1" placeholder="0000000", required)
                    span.error(data-error='postNumber-error')
            .formitem 
                p 郵便番号検索にも対応しています。js-ajaxzipとdata-field="検索結果の反映先（,で区切る）"を設定してください。
            .formitem
                dt
                    label.label 都道府県
                    span.require ※
                dd
                    - var elem = 'prefecture'
                    select(name=elem, js-validate, required, js-select2, data-placeholder="選択してください" style="width:220px")
                        option(value="") -
                        option(value="8") 茨城県
                        option(value="9") 栃木県
                        option(value="10") 群馬県
                        option(value="11") 埼玉県
                        option(value="12") 千葉県
                        option(value="13") 東京都
                        option(value="14") 神奈川県
                    span.error(data-error=elem+"-error")
                    
            .formitem
                dt
                    label.label 市区町村
                    span.require ※
                dd
                    - var elem = 'address1'
                    input.input(type="text", name=elem, placeholder="-", required)
                    span.error(data-error=elem+"-error")

            .formitem
                dt
                    label.label 電話番号
                    span.require ※
                dd
                    - var elem = 'tel'
                    input.input(type="text", name=elem, placeholder="09011111111", js-validate="digits,maxlength:11" js-zenhan, required)
                    span.error(data-error=elem+"-error")
            .formitem 
                p js-zenhanで全角英数字を半角に自動変換します。
            .formitem
                dt
                    label.label メールアドレス
                    span.require ※
                dd
                    - var elem = 'email'
                    input.input(type="email", name=elem, placeholder="test@test.com", js-validate="email", js-zenhan, required)
                    span.error(data-error=elem+"-error")
            .formitem
                dt
                    label.label メールアドレス確認
                    span.require ※
                dd
                    - var elem = 'emailconfirm'
                    input.input(type="email", name=elem, placeholder="test@test.com", js-validate="email,equalTo:[name='email']", js-zenhan, required)
                    span.error(data-error=elem+"-error")

            .formitem 
                p equalToでメールアドレスなどの同一性チェックも行えます。
            .formitem
                dt
                    label.label ラジオボタン
                    span.require ※
                dd
                    .inputwrapper.inputwrapper--radio
                        .radiowrapper
                            input.radio(type="radio", name="radio", id="radio01", value="1", js-validate, required)
                            label(for="radio01") 入力項目1入力項目1入力項目1
                        .radiowrapper
                            input.radio(type="radio", name="radio", id="radio02", value="2", js-validate, required)
                            label(for="radio02") 入力項目2入力項目2入力項目2
            .formitem
                dt
                    label.label チェックボックス
                    span.require ※
                dd
                    .inputwrapper.inputwrapper--check.inputwrapper--check2
                        .checkwrapper.checkwrapper--2
                            input.check(type="checkbox", name="q23", id="q2301", value="①TVCM",js-validate, required)
                            label(for="q2301") ①TVCM
                        .checkwrapper.checkwrapper--2
                            input.check(type="checkbox", name="q23", id="q2302", value="②TV番組",js-validate, required)
                            label(for="q2302") ②TV番組
                        .checkwrapper.checkwrapper--2.checkwrapper--note
                            input.check(type="checkbox", name="q23", id="q2319", value="⑲その他",js-validate, required)
                            label(for="q2319") ⑲その他
                            div.noteinputwrapper
                                label.etcformquest__label 具体的に
                                textarea.input(name="q23_etc", placeholder="⑲その他を選んだ方は具体的に記入ください。（最大100文字）")
                            span.error(data-error='q23_etc-error')
        div 
            //- submitボタンはinput/buttonどちらでも大丈夫です 
            input(type="submit" value="" data-send="送信確認画面へ" data-disabled="未入力の必須項目があります")
            button(type="submit" data-send="送信確認画面へ" data-disabled="未入力の必須項目があります")
        

webroot/validation.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxx-x"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-xxxxxxxx-x');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- META-->
    <title>サイト名</title>
    <meta name="description" content="descriptionを記入してください"/>
    <meta name="keywords" content="keywordを記入して下さい"/>
    <meta name="twitter:site" content="https://test.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="descriptionを記入してください"/>
    <meta name="twitter:image:src" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:title" content="サイト名"/>
    <meta property="og:site_name" content="サイト名"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:image" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:description" content="descriptionを記入してください"/>
    <link rel="shortcut icon" href="/assets/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicon.png"/>
    <!-- CSS-->
    <link rel="stylesheet" href="/assets/css/app.css"><link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header class="header">
        <div id="navArea">
          <nav>
            <div class="inner">
              <ul>
                <li><a href="#about"> <span>About us</span><br>TECDIAとは</a></li>
                <li><a href="#number"> <span>Tecdia in numbers</span><br>数字で見るテクダイヤ</a></li>
                <li><a href="#welfare"> <span>Employee system and benefits</span><br>社員制度や福利厚生</a></li>
                <li><a href="#member"> <span>Employee introduction</span><br>社員紹介</a></li>
                <li><a href="#message"> <span>Message from the President</span><br>社員メッセージ</a></li>
                <li><a href="#flow"> <span>Application requirements / selection flow</span><br>募集要項・選考フロー</a></li>
                <li><a href="#entry"> <span>Entry</span><br>エントリー</a></li>
              </ul>
            </div>
          </nav>
          <div class="toggle_btn"><span></span><span></span><span></span></div>
          <div id="mask"></div>
        </div>
      </header>
      <div class="content">
        <h2>フォーム周り</h2>
        <p>tabキーを使用したアクセシビリティに対応しました。</p>
        <p>スタイル周りを整理し、デザイン調整しやすい作りにしました。</p>
        <p>フロントエンド側でjQueryValidationを使ったバリデーションが行えるようになりました。<br><strong>必須にしたい</strong>……必須にしたいinput/select/textareaにrequiredを設定してください。<br><strong>入力内容を制限したい</strong>……入力内容を制限したいinput/select/textareaにjs-validate="ルール名"を設定してください。使用可能なバリデーションルールは<a href="https://jqueryvalidation.org/" target="_blank">jQuery-validate</a>またはvalidation.jsのエラーメッセージで確認できます。<br>n文字以上など引数が必要な場合、ルール名:引数とコロン区切りで設定できます。<br>rangelengthなどの引数に配列を指定する場合、|区切りにしてください。　例）js-validate="rangelength:5|10" で5〜10文字まで入力可能<br><strong>複数のバリデーションルールを設定したい</strong>……セミコロン区切りで設定可能です　例）js-validate="number,maxlength:8" で数字のみ8文字まで入力可能<br>その他使用可能なバリデーション及びカスタマイズについてはvalidation.jsにコメントを記述していますので確認ください。<br><a href="https://jqueryvalidation.org/" target="_blank">jQuery-validateドキュメント</a></p>
        <p>バリデーションエラーのテキストは【span.error(data-error="フォームのnameプロパティ")】に出力されるようになっています。<br>上記の命名ルールに沿ってdata-errorを指定していればタグの記述位置はどこでも動作します。</p>
        <form method="get">
          <dl class="form">
            <div class="formitem">
              <dt>
                <label class="label">氏名</label><span class="require">※</span>
              </dt>
              <dd>
                <div class="inputwrapper">
                  <div>
                    <input class="input" type="text" name="lastName" placeholder="姓" js-validate required js-autoKana data-field="lastNameKana"><span class="error" data-error="lastName-error"></span>
                  </div><span></span>
                  <div>
                    <input class="input" type="text" name="firstName" placeholder="名" js-validate required js-autoKana data-field="firstNameKana"><span class="error" data-error="firstName-error"></span>
                  </div>
                </div>
              </dd>
            </div>
            <div class="formitem"> 
              <p>js-autoKanaとdata-field=""をつけるとdata-fieldで設定したnameを持つフォームへ入力した内容を自動でカナ変換して入力します。（予測変換には対応出来ません）</p>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">フリガナ</label><span class="require">※</span>
              </dt>
              <dd>
                <div class="inputwrapper">
                  <div>
                    <input class="input" type="text" name="lastNameKana" placeholder="セイ" js-validate="katakana" required><span class="error" data-error="lastNameKana-error"></span>
                  </div><span></span>
                  <div>
                    <input class="input" type="text" name="firstNameKana" placeholder="メイ" js-validate="katakana" required><span class="error" data-error="firstNameKana-error"></span>
                  </div>
                </div>
              </dd>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">生年月日</label><span class="require">※</span>
              </dt>
              <dd>
                <div class="inputwrapper">
                  <div>
                    <select name="birthdayYear" js-validate="js-validate" required="required" js-select2="js-select2" data-placeholder="-" error-label="birthday" style="width:100px">
                      <option value="">-</option>
                      <option value="1920">1920</option>
                      <option value="1921">1921</option>
                      <option value="1922">1922</option>
                      <option value="1923">1923</option>
                      <option value="1924">1924</option>
                      <option value="1925">1925</option>
                      <option value="1926">1926</option>
                      <option value="1927">1927</option>
                      <option value="1928">1928</option>
                      <option value="1929">1929</option>
                      <option value="1930">1930</option>
                      <option value="1931">1931</option>
                      <option value="1932">1932</option>
                      <option value="1933">1933</option>
                      <option value="1934">1934</option>
                      <option value="1935">1935</option>
                      <option value="1936">1936</option>
                      <option value="1937">1937</option>
                      <option value="1938">1938</option>
                      <option value="1939">1939</option>
                      <option value="1940">1940</option>
                      <option value="1941">1941</option>
                      <option value="1942">1942</option>
                      <option value="1943">1943</option>
                      <option value="1944">1944</option>
                      <option value="1945">1945</option>
                      <option value="1946">1946</option>
                      <option value="1947">1947</option>
                      <option value="1948">1948</option>
                      <option value="1949">1949</option>
                      <option value="1950">1950</option>
                      <option value="1951">1951</option>
                      <option value="1952">1952</option>
                      <option value="1953">1953</option>
                      <option value="1954">1954</option>
                      <option value="1955">1955</option>
                      <option value="1956">1956</option>
                      <option value="1957">1957</option>
                      <option value="1958">1958</option>
                      <option value="1959">1959</option>
                      <option value="1960">1960</option>
                      <option value="1961">1961</option>
                      <option value="1962">1962</option>
                      <option value="1963">1963</option>
                      <option value="1964">1964</option>
                      <option value="1965">1965</option>
                      <option value="1966">1966</option>
                      <option value="1967">1967</option>
                      <option value="1968">1968</option>
                      <option value="1969">1969</option>
                      <option value="1970">1970</option>
                      <option value="1971">1971</option>
                      <option value="1972">1972</option>
                      <option value="1973">1973</option>
                      <option value="1974">1974</option>
                      <option value="1975">1975</option>
                      <option value="1976">1976</option>
                      <option value="1977">1977</option>
                      <option value="1978">1978</option>
                      <option value="1979">1979</option>
                      <option value="1980" selected="selected">1980</option>
                      <option value="1981">1981</option>
                      <option value="1982">1982</option>
                      <option value="1983">1983</option>
                      <option value="1984">1984</option>
                      <option value="1985">1985</option>
                      <option value="1986">1986</option>
                      <option value="1987">1987</option>
                      <option value="1988">1988</option>
                      <option value="1989">1989</option>
                      <option value="1990">1990</option>
                      <option value="1991">1991</option>
                      <option value="1992">1992</option>
                      <option value="1993">1993</option>
                      <option value="1994">1994</option>
                      <option value="1995">1995</option>
                      <option value="1996">1996</option>
                      <option value="1997">1997</option>
                      <option value="1998">1998</option>
                      <option value="1999">1999</option>
                      <option value="2000">2000</option>
                      <option value="2001">2001</option>
                    </select>
                  </div><span>年</span>
                  <div>
                    <select class="select" name="birthdayMonth" js-validate="js-validate" required="required" js-select2="js-select2" data-placeholder="-" error-label="birthday" style="width:80px">
                      <option value="">-</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div><span>月</span>
                  <div>
                    <select class="select" name="birthdayDay" js-validate="js-validate" required="required" js-select2="js-select2" data-placeholder="-" error-label="birthday" style="width:80px">
                      <option value="">-</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                  </div><span>日</span>
                </div><span class="error" data-error="birthday-error"></span>
              </dd>
            </div>
            <div class="formitem"> 
              <p>error-label="xxx"を設定する事でエラー表示を1箇所にまとめる事ができます。<br>上記では生年月日の年/月/日のエラーをbirthday-errorに出力しています。</p>
            </div>
            <div class="formitem">
              <dt> 
                <label class="label">ファイル</label>
              </dt>
              <dd> 
                <input name="picture" type="file" js-validate data-validate-rule="{'accept': filetype, 'filesize': 10}">
              </dd>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">郵便番号</label><span class="require">※</span>
              </dt>
              <dd>
                <div class="inputwrapper inputwrapper--zip"><span>〒</span>
                  <input class="input input--zip" type="text" name="postNumber" js-validate js-zenhan js-ajaxzip data-field="prefecture,address1" placeholder="0000000" required>
                </div><span class="error" data-error="postNumber-error"></span>
              </dd>
            </div>
            <div class="formitem"> 
              <p>郵便番号検索にも対応しています。js-ajaxzipとdata-field="検索結果の反映先（,で区切る）"を設定してください。</p>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">都道府県</label><span class="require">※</span>
              </dt>
              <dd>
                <select name="prefecture" js-validate required js-select2 data-placeholder="選択してください" style="width:220px">
                  <option value="">-</option>
                  <option value="8">茨城県</option>
                  <option value="9">栃木県</option>
                  <option value="10">群馬県</option>
                  <option value="11">埼玉県</option>
                  <option value="12">千葉県</option>
                  <option value="13">東京都</option>
                  <option value="14">神奈川県</option>
                </select><span class="error" data-error="prefecture-error"></span>
              </dd>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">市区町村</label><span class="require">※</span>
              </dt>
              <dd>
                <input class="input" type="text" name="address1" placeholder="-" required><span class="error" data-error="address1-error"></span>
              </dd>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">電話番号</label><span class="require">※</span>
              </dt>
              <dd>
                <input class="input" type="text" name="tel" placeholder="09011111111" js-validate="digits,maxlength:11" js-zenhan required><span class="error" data-error="tel-error"></span>
              </dd>
            </div>
            <div class="formitem"> 
              <p>js-zenhanで全角英数字を半角に自動変換します。</p>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">メールアドレス</label><span class="require">※</span>
              </dt>
              <dd>
                <input class="input" type="email" name="email" placeholder="test@test.com" js-validate="email" js-zenhan required><span class="error" data-error="email-error"></span>
              </dd>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">メールアドレス確認</label><span class="require">※</span>
              </dt>
              <dd>
                <input class="input" type="email" name="emailconfirm" placeholder="test@test.com" js-validate="email,equalTo:[name='email']" js-zenhan required><span class="error" data-error="emailconfirm-error"></span>
              </dd>
            </div>
            <div class="formitem"> 
              <p>equalToでメールアドレスなどの同一性チェックも行えます。</p>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">ラジオボタン</label><span class="require">※</span>
              </dt>
              <dd>
                <div class="inputwrapper inputwrapper--radio">
                  <div class="radiowrapper">
                    <input class="radio" type="radio" name="radio" id="radio01" value="1" js-validate required>
                    <label for="radio01">入力項目1入力項目1入力項目1</label>
                  </div>
                  <div class="radiowrapper">
                    <input class="radio" type="radio" name="radio" id="radio02" value="2" js-validate required>
                    <label for="radio02">入力項目2入力項目2入力項目2</label>
                  </div>
                </div>
              </dd>
            </div>
            <div class="formitem">
              <dt>
                <label class="label">チェックボックス</label><span class="require">※</span>
              </dt>
              <dd>
                <div class="inputwrapper inputwrapper--check inputwrapper--check2">
                  <div class="checkwrapper checkwrapper--2">
                    <input class="check" type="checkbox" name="q23" id="q2301" value="①TVCM" js-validate required>
                    <label for="q2301">①TVCM</label>
                  </div>
                  <div class="checkwrapper checkwrapper--2">
                    <input class="check" type="checkbox" name="q23" id="q2302" value="②TV番組" js-validate required>
                    <label for="q2302">②TV番組</label>
                  </div>
                  <div class="checkwrapper checkwrapper--2 checkwrapper--note">
                    <input class="check" type="checkbox" name="q23" id="q2319" value="⑲その他" js-validate required>
                    <label for="q2319">⑲その他</label>
                    <div class="noteinputwrapper">
                      <label class="etcformquest__label">具体的に</label>
                      <textarea class="input" name="q23_etc" placeholder="⑲その他を選んだ方は具体的に記入ください。（最大100文字）"></textarea>
                    </div><span class="error" data-error="q23_etc-error"></span>
                  </div>
                </div>
              </dd>
            </div>
          </dl>
          <div> 
            <input type="submit" value="" data-send="送信確認画面へ" data-disabled="未入力の必須項目があります">
            <button type="submit" data-send="送信確認画面へ" data-disabled="未入力の必須項目があります"></button>
          </div>
        </form>
      </div>
      <!-- footer-->
      <footer class="footer"></footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script><link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script src="/assets/js/jquery.autoKana.js" charset="UTF-8"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" charset="UTF-8"></script>
<script src="/assets/js/validation.js" charset="UTF-8"></script>
  </body>
</html>
